body {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color:  var(--bg);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  background-color: none;
  color: #fff;

  font-weight: 700;
  font-size: 1.2em;

  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 0;
  margin: 0;

  width: 30%;
  height: 70%;

  margin: 0 1em;
}

.button {
  height: 10%;
  width: 100%;
}

.button button {
  border: none;
  appearance: none;

  border-radius: 10px;

  color: #fff;
  background-color: var(--button-primary);

  width: 100%;
  height: 100%;

  font-size: 1.2em;
  font-weight: 900;
  
  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.button button:hover {
  background-color: var(--button-hover);
}